{% extends 'sa/base.html' %}
{% block title %} Loggedout {% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mx-auto mt-4 shadow-lg">
		<h2 class="bg-secondary text-center text-light p-2 mt-2 border rounded"><B>THANKYOU FOR USING EMOBILE BOOKING</B></h2>

	<p><a href="{% url 'hm' %}" class="btn btn-dark text-light" style="margin-left: 10px;">Back</a>
<!--<p style="margin-left: 50px">--><B style="margin-left: 100px;"> <a href="{% url 'reg' %}"> Before Login Register 1St!</a></B><a href="{% url 'lgn' %}" class="btn btn-warning" style="margin-left: 70px;">Login</a></p>
		</div>
</div>
{% endblock %} 